.btn-primary {
    --mdb-btn-bg: #3b71ca;
    --mdb-btn-color: #fff;
    --mdb-btn-box-shadow: 0 4px 9px -4px #386bc0;
    --mdb-btn-hover-bg: #386bc0;
    --mdb-btn-hover-color: #fff;
    --mdb-btn-focus-bg: #386bc0;
    --mdb-btn-focus-color: #fff;
    --mdb-btn-active-bg: #3566b6;
    --mdb-btn-active-color: #fff;
    --mdb-btn-box-shadow-state: 0 8px 9px -4px rgba(56, 107, 192, 0.3), 0 4px 18px 0 rgba(56, 107, 192, 0.2)
}

.btn-info {
    --mdb-btn-bg: #54b4d3;
    --mdb-btn-color: #fff;
    --mdb-btn-box-shadow: 0 4px 9px -4px #50abc8;
    --mdb-btn-hover-bg: #50abc8;
    --mdb-btn-hover-color: #fff;
    --mdb-btn-focus-bg: #50abc8;
    --mdb-btn-focus-color: #fff;
    --mdb-btn-active-bg: #4ca2be;
    --mdb-btn-active-color: #fff;
    --mdb-btn-box-shadow-state: 0 8px 9px -4px rgba(80, 171, 200, 0.3), 0 4px 18px 0 rgba(80, 171, 200, 0.2)
}

.btn {
    --mdb-btn-padding-x: 1.5rem;
    --mdb-btn-padding-y: 0.375rem;
    --mdb-btn-font-family: ;
    --mdb-btn-font-size: 0.75rem;
    --mdb-btn-font-weight: 500;
    --mdb-btn-line-height: 1.5;
    --mdb-btn-color: var(--mdb-body-color);
    --mdb-btn-bg: transparent;
    --mdb-btn-border-width: 2px;
    --mdb-btn-border-color: transparent;
    --mdb-btn-border-radius: 0.25rem;
    --mdb-btn-hover-border-color: transparent;
    --mdb-btn-box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
    --mdb-btn-disabled-opacity: 0.65;
    --mdb-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--mdb-btn-focus-shadow-rgb), 0.5);
    display: inline-block;
    padding: var(--mdb-btn-padding-y) var(--mdb-btn-padding-x);
    font-family: var(--mdb-btn-font-family);
    font-size: var(--mdb-btn-font-size);
    font-weight: var(--mdb-btn-font-weight);
    line-height: var(--mdb-btn-line-height);
    color: var(--mdb-btn-color);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: var(--mdb-btn-border-width) solid var(--mdb-btn-border-color);
    border-radius: var(--mdb-btn-border-radius);
    background-color: var(--mdb-btn-bg);
    box-shadow: var(--mdb-btn-box-shadow);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
